.overlay {
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    background-color: #ff9900; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    height: 100%;
    top: -100vh;
    opacity: 0.9;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.overlay.overlay-open {
    height: 100%;
    width: 100%;
    top: -0vh;
    opacity: 0.9;
    transition: 0.25s; 
}

.overlay.overlay-closing {
    height: 100%;
    width: 100%;
    top: 0vh;
    opacity: 0;
    transition: 0.15s; 
}

/* Position the content inside the overlay */
.overlay-content {
    opacity: 0;
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    animation-delay: 0.25s;
    transition: 0.75s;
}
/* Animate when overlay open */
.overlay-open .overlay-content {
    opacity: 100;
    animation-delay: 0.25s;
    transition: 0.75s;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 24px;
    text-decoration: none;
    font-size: 48px;
    color: #fff;
    display: block; /* Display block instead of inline */
    transition: 0.25s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #000;
}

/* Position the close button (top right corner) */
.overlay .close-button {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}